body {
    background-color: blue;
}

h1 {
    font-size: 72px;
    text-shadow: 1px 1px 10px red;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    font-size: large;
    color: black;
}