// Heading Color
$heading-color: #191919;

// Text Color
$text-color: #595959;

// Default Background
$bg-default: #d1bb95;

// Gray Background
$bg-gray: #f2f4f5;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #d1bb95;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #a6a6a6;